*{
    padding: 0px;
     margin: 0;
    box-sizing: border-box;
}
h1{
    color: black;
    font-family: "BBH Sans Bogle", sans-serif;
}
div{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 10px;
}
input{
     padding: 10px;
     background: transparent;
     border: none;
     border:2px solid rgb(162, 192, 237);
}